*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: public-sans, sans-serif;
}

.navigation{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-bottom: 1px solid gray;
    padding: 0 0.5rem;
    gap: 1rem;
}
.navigation h1{
    flex-grow: 1;
    font-size: clamp(1.25rem, 1vw + 0.85rem, 2.5rem);

}
.account{
    position: relative;
    cursor: pointer;
    font-size: min(1.1rem, 4.5vw);
}

.user{
    width: min(3em, 10vw);
}
.account__container{
    background-color: white;
    display: none;
    align-items: center;
    justify-content: start;
    min-width: 100px;
    min-height: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    position: absolute;
    top: 7.5%;
    right: 3%;
}
.account:hover ~ .account__container, 
.account:active ~ .account__container{
    display: flex;
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    appearance: none;
}


.account__container::before{
    content: '';
    position: absolute;
    top: -10px;
    right: 50%;
    width: 0;
	height: 0;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid white;    
}
.amount{
    display: flex;
    text-align: center;
    align-items: center;
    font-weight: 200;
    padding: 0.5rem;
    color: gray;
}
.form{
    padding: 0 1rem;
    width: min(450px, 95vw);
    min-height: 40vh;
    margin: 3em auto;
}
.form h1{
    margin-bottom: min(1.2rem, 2vw);
    font-size: clamp(1.25rem, 1vw + 1.2rem, 2.5rem);
}
#amount{
    width:min(400px, 95%);
    min-height: 7vh;
    padding: 0.5rem;
    border-radius: 10px;
    border: 1.2px solid gray;
    margin-top: min(1.2rem, 1vw);
}
.process{
    display: flex;
    flex-wrap: wrap;
}
.process button{
    margin: auto;
    margin-top: 1.5rem;
    border: none;
    min-width: 200px;
    min-height: 32px;
    border-radius: 13px;
    margin-left: auto;
}
.sure{
    position: fixed;
    top: 20vh;
    left: 5vw;
    display: block;
    width: 200px;
    height: 100px;
    background-color:antiquewhite;
}

.process button:hover{
    background-color: #A0B8D6;
    transition: all 0.2s ease-in-out;
}